* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'PokemonClassic';
    src: url('./fonts/Pokemon Classic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pokemon X and Y';
    src: url('./fonts/Pokemon X and Y.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('images/inicio_zapdos.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    font-family: 'Pokemon X and Y';
    letter-spacing: 1px;
    /* Espaciado entre letras para todo el documento*/
}

.header-container {
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    padding-top: 50px;
}

.header-container p {
    background: rgba(4, 4, 4, 0.205);
    backdrop-filter: blur(8px);

    color: rgb(230, 230, 146);
    font-size: 40px;
    width: 810px;
    margin: 0 auto;
    padding: 10px;
    border: 3px solid rgba(228, 212, 97, 0.651);
    box-shadow: 0px 0px 50px rgba(246, 218, 4, 0.305);
    text-shadow: 0px 0px 4px rgb(3, 3, 3);
    border-radius: 2px;
}

.footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: rgba(230, 230, 146, 0.496);
}