* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url("http://www.rw-designer.com/cursor-extern.php?id=143023"), auto;
}

@font-face {
    font-family: 'Pokemon X and Y';
    src: url('../fonts/Pokemon X and Y.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Pokemon X and Y';
    letter-spacing: 1px;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error h1{
    background-color: rgb(255, 255, 0);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px;
    margin-bottom: 5px;
    transition: 0.5s ease-in-out;
}

.error h1:hover {
    filter: drop-shadow(0px 0px 7px rgb(255, 255, 2));
    transform: scale(1.01);
}
.error img {
    margin-top: 5px;
    filter: drop-shadow(0px 0px 7px rgb(255, 255, 255));
    transition: 0.3s ease-in-out;
}

.error img:hover {
    filter: drop-shadow(0px 0px 7px rgb(255, 255, 2));
    transform: scale(1.01);
}