body {
    background-color: rgb(0, 0, 0);
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/index-page/zapdos.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
    transform: scale(1.1);
}

.result-container{
    background-color: rgb(53, 52, 78);
    width: 35%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 1rem;
    padding: 4rem;
    text-align: center;
    border: 5px solid rgb(230, 191, 18);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.401);
    border: 15px double #F8D030;
    border-radius: 1rem;
}

.result-container h1{
    color: rgb(241, 226, 6);
    font-size: 50px;
    text-shadow: 1px 1px 0px black;
    
}

.result-container h2{
    color: rgb(118, 228, 124);
    font-size: 35px;
    text-shadow: 0 1px 1px black;
    margin: 1rem;
}

.result-container h3{
    color: rgb(228, 118, 118);
    font-size: 25px;
    text-shadow: 0 1px 1px black;
}

.log{
    background-color: rgb(228, 218, 218);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid black;
    max-height: 400px;
    overflow-y: auto;
}

.log>ul{
    list-style: none;
}

a{
    background-color: red;
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 20px;
    text-decoration: none;
    color: white;
    border: 1px solid black;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    text-shadow: 1px 0 2px black;
}

a:hover{
    border: 1px solid rgb(0, 0, 0);
    transform: scale(1.01);
    color: black;
}

.button-container{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#rematch-btn{
    background-color: rgb(255, 238, 0);
}

#exp-gained{
    color: rgb(118, 228, 124);
    margin-top: 1rem;
}


