body {
    background-color: rgb(0, 0, 0);
}

.screen-container {
    background-image: url('../images/battles-page/prueba.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 90dvh;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    width: 100%;
    height: 100%;

    position: relative;
}



.pokemon1-container {
    grid-column: 1/2;
    grid-row: 2/4;
}

.pokemon1-container .img-container {
    height: 260px;
    text-align: right;
}

.pokemon1-container .img-container img {
    width: 330px;
    margin-top: 70px;
    margin-right: 20px;
}

.pokemon2-container {
    grid-column: 2/3;
    grid-row: 1/3;
}

.pokemon2-container .img-container {
    height: 260px;
    text-align: left;
}

.pokemon2-container .img-container img {
    width: 230px;
    margin-top: 330px;
    margin-left: 120px;
}

.name-hp-container {
    background-color: rgba(240, 248, 255, 0.9);
    border-radius: .5rem;
    padding: .5rem 1rem;
    width: 27%;
    min-width: 200px;
    border: 2px solid black;
}

.pokemon2-container .name-hp-container {
    position: absolute;
    right: 0px;

}

.pokemon1-container .name-hp-container {
    position: absolute;
    top: 0px;
    left: 0px;
}

.health {
    display: flex;
}

.health-bar {
    background-color: rgb(139, 199, 48);
    height: 20px;
    width: 100%;
    border-radius: .5rem;
    text-align: center;
}

.name {
    text-transform: capitalize;
    font-weight: bold;
    padding: 5px 0 5px;
}

.moves-container {
    grid-column: 2/3;
    grid-row: 3/4;

    height: 60%;
    width: 80%;
    align-self: flex-end;
    position: absolute;
    right: 0px;
    gap: 5px;
    margin-bottom: 7px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.move {
    background-color: rgb(191, 213, 233);
    border: 3px solid black;
    border-radius: .5rem;
    padding: .5rem 1rem;
    z-index: 0;
}


.m-name {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.move.normal {
    background: rgba(168, 168, 120, 0.9);
}

.move.fire {
    background: rgba(240, 128, 48, 0.9);
}



.move.water {

    background: rgba(104, 144, 240, 0.9);
}



.move.electric {

    background: rgba(248, 208, 48, 0.9);
}


.move.grass {

    background: rgba(120, 200, 80, 0.9);
}


.move.ice {

    background: rgba(152, 216, 216, 0.9);
}

.move.fighting {

    background: rgba(192, 48, 40, 0.9);
}


.move.poison {

    background: rgba(160, 64, 160, 0.9);
}



.move.ground {

    background: rgba(224, 192, 104, 0.9);
}



.move.flying {

    background: rgba(168, 144, 240, 0.9);
}



.move.psychic {

    background: rgba(248, 88, 136, 0.9);
}


.move.bug {

    background: rgba(168, 184, 32, 0.9);
}


.move.rock {

    background: rgba(184, 160, 56, 0.9);
}



.move.ghost {

    background: rgba(112, 88, 152, 0.9);
}


.move.dragon {

    background: rgba(112, 56, 248, 0.9);
}


.move.dark {

    background: rgba(112, 88, 72, 0.9);
}


.move.steel {

    background: rgba(184, 184, 208, 0.9);
}


.move.fairy {

    background: rgba(238, 153, 172, 0.9);
}

.move:hover {
    transform: scale(1.02);
    transition: 0.2s ease-in-out;
    border: 3px solid yellow;

}