body {
  background-color: rgb(0, 0, 0);
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/index-page/zapdos.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
  transform: scale(1.1);
}

.screen-container {
  background-image: url("../images/battles-page/background-battle.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 90dvh;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  position: relative;
}

.pokemon1-container {
  grid-column: 1/2;
  grid-row: 2/4;
}

.pokemon1-container .img-container {
  height: 260px;
  text-align: right;
}

.pokemon1-container .img-container img {
  width: 330px;
  margin-top: 90px;
  margin-right: 20px;
}

.pokemon2-container {
  grid-column: 2/3;
  grid-row: 1/3;
}

.pokemon2-container .img-container {
  height: 260px;
  text-align: left;
}

.pokemon2-container .img-container img {
  width: 230px;
  margin-top: 350px;
  margin-left: 120px;
}

.pokemon1-container.pikachu img {
  margin-top: 150px;
}

.pokemon2-container.pikachu img {
  margin-top: 370px;
}

.name-hp-container {
  background-color: rgba(250, 255, 202, 0.9);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: 27%;
  min-width: 200px;
  border: 2px solid black;
}

.pokemon2-container .name-hp-container {
  position: absolute;
  right: 0px;
}

.pokemon1-container .name-hp-container {
  position: absolute;
  top: 0px;
  left: 0px;
}

.health {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.health-bar-wrapper {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  width: 100%;
  min-width: 120px;
  height: 20px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.health-bar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
  transition: width 0.6s ease, background-color 0.3s ease;
}

.health-bar.hp-high {
  background-color: #8bc730;
}
.health-bar.hp-medium {
  background-color: #f0c330;
}
.health-bar.hp-low {
  background-color: #f05050;
}

.hp-text {
  font-size: 0.85rem;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
}

.name {
  text-transform: capitalize;
  font-weight: bold;
  padding: 5px 0 5px;
}

.moves-container {
  grid-column: 2/3;
  grid-row: 3/4;
  height: 60%;
  width: 80%;
  align-self: flex-end;
  position: absolute;
  right: 0px;
  margin-bottom: 7px;
}

.moves-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  height: 100%;
  width: 100%;
}

.move-button {
  border: 3px solid black;
  border-radius: 8px;
  padding: 1.5rem 1rem;
  z-index: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;

  cursor: pointer;
  text-align: left;
  color: inherit;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in-out, filter 0.2s;
}

.move-name {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.move-details {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}

.move-button:hover {
  transform: scale(1.01);
  border: 2px solid yellow;
  filter: brightness(1.05);
}

.move-button.normal {
  background: rgba(253, 253, 191, 0.9);
}

.move-button.fire {
  background: rgba(240, 128, 48, 0.9);
}

.move-button.water {
  background: rgba(104, 144, 240, 0.9);
}

.move-button.electric {
  background: rgba(248, 208, 48, 0.9);
}

.move-button.grass {
  background: rgba(120, 200, 80, 0.9);
}

.move-button.ice {
  background: rgba(152, 216, 216, 0.9);
}

.move-button.fighting {
  background: rgba(192, 48, 40, 0.9);
}

.move-button.poison {
  background: rgba(160, 64, 160, 0.9);
}

.move-button.ground {
  background: rgba(224, 192, 104, 0.9);
}

.move-button.flying {
  background: rgba(168, 144, 240, 0.9);
}

.move-button.psychic {
  background: rgba(248, 88, 136, 0.9);
}

.move-button.bug {
  background: rgba(168, 184, 32, 0.9);
}

.move-button.rock {
  background: rgba(184, 160, 56, 0.9);
}

.move-button.ghost {
  background: rgba(112, 88, 152, 0.9);
}

.move-button.dragon {
  background: rgba(112, 56, 248, 0.9);
}

.move-button.dark {
  background: rgba(112, 88, 72, 0.9);
}

.move-button.steel {
  background: rgba(184, 184, 208, 0.9);
}

.move-button.fairy {
  background: rgba(238, 153, 172, 0.9);
}

.log-container {
  background-color: rgba(240, 248, 255, 0.877);
  opacity: 0.8;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid black;
  position: absolute;
  top: 10%;
  max-height: 700px;
  width: 250px;
  overflow-y: auto;
}
.battle-log > h3 {
  text-align: center;
}
.battle-log > ul {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
}

.battle-log > ul > li {
  text-transform: uppercase;
  padding-left: 1rem;
  border-left: 3px solid black;
}