body {
  background-image: url(../images/profile-page/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  font-family: "Pokemon X and Y", sans-serif;
}

.high-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 20px double #f8d030;
  box-sizing: border-box;
}

.container {
  background-color: rgb(250, 255, 101);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 450px;
  height: auto;
  min-height: 500px;

  border: 20px double #f8d030;
  border-radius: 1rem;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.401);
  text-align: center;
  position: relative;
}

.back-button-container {
  position: absolute;
  top: 80px;
  left: 150px;
  z-index: 10;
}

.back-button-container img {
  width: 50px;
  filter: drop-shadow(0 0 2px yellow);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.back-button-container img:hover {
  transform: scale(1.1);
}

.battle-header {
  border-bottom: 4px solid #f8d030;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.date-info {
  font-family: sans-serif;
  font-size: 14px;
  color: #555;
  font-weight: bold;
}

.matchup-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.contender {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.vs-sign {
  font-size: 50px;
  color: #f8d030;
  text-shadow: 2px 2px 0px black;
  font-family: "Pokemon X and Y", sans-serif;
}

.trainer-name {
  font-size: 24px;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.pokemon-used {
  background-color: rgb(45, 45, 45);
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  border: 2px solid #f8d030;
  text-transform: capitalize;
  font-size: 18px;
}

.result-box {
  background-color: rgba(255, 255, 255, 0.5);
  border: 4px solid black;
  border-radius: 10px;
  width: 90%;
  padding: 15px;
  margin-top: 20px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.winner-text {
  color: #00aa00;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  font-size: 28px;
}

.loser-text {
  color: #cc0000;
  font-size: 20px;
}

h2 {
  margin: 10px 0;
}

.delete-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 120, 120);
}

.delete-btn:hover {
  cursor: pointer;
}
