/* Global body styles and background */
body {
    background-image: url('../images/index-page/zapdos.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.welcome-container {
    text-align: left;
    padding-top: 50px;
}

.welcome-container p {
    background: rgba(4, 4, 4, 0.205);
    backdrop-filter: blur(8px);
    color: rgb(230, 230, 146);
    font-size: 35px;
    max-width: 810px;
    margin: 0 auto;
    padding: 15px;
    border: 4px solid rgb(255, 238, 2);
    box-shadow: 0px 0px 0px 5px rgb(4, 8, 39);
    text-shadow: 0px 0px 4px rgb(3, 3, 3);
    border-radius: 4px;
}

.start-text {
    color: rgb(230, 230, 146);
    text-align: center;
    font-size: 24px;
    text-shadow: 0px 0px 1000px black;
    animation: blink 2.5s ease-in-out infinite;

    /* Move start text without pushing other elements */
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 0;
}

/* Typing animation for welcome text */
@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Fullscreen action button */
#click-action {
    width: 100%;
    height: 650px;
    opacity: 0;
}

.trainer-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 72%;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    width: 20vh;
    padding: 10px;
    border-radius: 8px;
    background: rgba(4, 4, 4, 0.205);
    backdrop-filter: blur(8px);
    color: rgb(230, 230, 146);
    font-size: 15px;
    margin: 0 auto;
    border: 1px solid rgb(255, 238, 2);
    box-shadow: 0px 0px 0px 3px rgb(4, 8, 39);
    text-shadow: 0px 0px 4px rgb(3, 3, 3);
    border-radius: 4px;
}

#trainer {
    background-color: rgb(237, 221, 134);
    text-align: center;
    width: 100%;
    border: 2px solid yellow;
}

#trainer:hover {
    cursor: text;
}

#trainer::placeholder {
    color: rgba(0, 0, 0, 0.574);
}

.error {
    color: red;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 81%;
    z-index: 2;
    background: rgba(4, 4, 4, 0.205);
    backdrop-filter: blur(8px);
    padding: 2px;
}