.header-container {
    background-image: url('../images/index-page/zapdos.jpeg');
    background-color: rgb(60, 57, 57);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 170px;
}

.header-container img {
    width: 150px;
    transition: 0.4s ease-in-out;
    filter: drop-shadow(0px 0px 7px rgb(255, 255, 2));
}

.header-container img:hover {
    transform: scale(1.02);
}

.nav {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: rgb(255, 238, 0);    
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    background-color: rgb(27, 27, 27);
    padding: 7px;
}

.nav a:hover{
    transform: scale(1.02);
    background-color: yellow;
    color: black;
    cursor: pointer;
}

