body {
    /* background-color: #0d0d13; */
    background-image: url('../images/pokedex-page/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.card_container {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 30px;
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: black;
}

.header-container {
    min-height: 120px;
}

.header-container img {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    z-index: 10;
    filter: drop-shadow(0 0 0 rgb(242, 255, 0)) drop-shadow(2px 2px 0 rgb(242, 255, 0)) drop-shadow(-2px -2px 0 rgb(10, 10, 10));
}


.header-container a {
    text-decoration: none;
    padding: 20px;
    color: black;
    cursor: pointer;
}


.card_container {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 30px;
}

.pokemon_container {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
    border: 9px solid rgb(60, 63, 97);
    transition: 0.2s ease-in-out;
}

.pokemon_container:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 5px rgb(255, 255, 2);
}

.img_container {
    border-radius: 1rem;
    background-color: #d2dbef;
    border: 1px solid rgb(36, 38, 63);
}

.img_container img {
    width: 100%;
    max-width: 15rem;
}

.img_container img:hover {
    filter: drop-shadow(0px 0px 7px rgb(255, 255, 2));
}

hr {
    background-color: yellow;
}


main {
    padding: 5rem;
    margin: 0 auto;
    max-width: 1400px;
    background-color: #0e0e1596;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.401);
    border: 20px double #F8D030;
    border-radius: 1rem;
}


.id {
    margin-top: 8px;
}

.name {
    margin-top: 0.5rem;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
}

.types {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: .5rem;
    justify-content: center;
    margin-top: 1rem;
}

.type {
    background-color: bisque;
    border-radius: 100vmax;
    padding: 2px 6px;
    text-align: center;
    min-width: 60px;
    border: 1px solid rgba(0, 0, 0, 0.133);
    text-transform: uppercase;

}

.fighting {
    background-color: #C03028;

}

.fire {
    background-color: #F08030;
    border-color: #C03028;
}

.flying {
    background-color: #A890F0;
}

.dragon {
    background-color: #7038F8;
}

.grass {
    background-color: #78C850;
}

.normal {
    background-color: #A8A878;
}

.poison {
    background-color: #A040A0;
}

.water {
    background-color: #6890F0;
}

.electric {
    background-color: #F8D030;
}

.footer-container {
    margin-top: 20px;
    position: static;
}

@media (min-width: 470px) {
    .card_container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 700px) {
    .card_container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .card_container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

#muteBtn {
    position: absolute;
}

.flex {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.trainer {
    /* background-color: yellow; */
    font-size: 19px;
    color: #F8D030;
    text-align: center;
    width: 150px;
    height: 50px;
    padding: 7px;
    border: 3px double #F8D030;
    border-radius: 0.6rem;
    box-shadow: 0 0 0px 2px rgb(0, 0, 0);
    text-transform: capitalize;
}

form {
    display: flex;
    flex-direction: row;
    border: 3px double #F8D030;
    border-radius: 0.6rem;
    text-transform: capitalize;
    height: 50px;

}

form input {
    border-top-left-radius: .6rem;
    border-bottom-left-radius: .6rem;
    padding: 5px;
    font-family: 'Pokemon X and Y';
    letter-spacing: 1px;
    width: 200px;
    border: 1px solid #F8D030;
    background-color: #f8d0300d;
    padding-left: 4px;
    color: #F8D030;
}

form input:hover {
    cursor: text;
}

form input::placeholder {
    color: #F8D030;
    text-align: center;
}



form button {
    border-top-right-radius: .6rem;
    border-bottom-right-radius: .6rem;
    font-family: 'Pokemon X and Y';
    padding: 5px;
    background-color: #efdf9e;
    border: 1px solid #F8D030;
}