/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url("http://www.rw-designer.com/cursor-extern.php?id=143023"), auto;
}


/* Custom fonts */
@font-face {
    font-family: 'Pokemon X and Y';
    src: url('../fonts/Pokemon X and Y.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'Pokemon X and Y';
    letter-spacing: 1px;
}

/* Footer style*/
.footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: rgba(230, 230, 146, 0.496);
}



#muteBtn {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 30px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
}