body{
    background-image: url(../images/profile-page/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.high-container {
    /* background-color: rgb(45, 45, 45); */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.401);
    border: 20px double #F8D030;
}

.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: rgb(250, 255, 101);
    width: 100%;
    height: 700px;
    max-width: 400px;  
    text-align: center;
    gap: 20px;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.401);
    border: 20px double #F8D030;
    border-radius: 1rem;
}

#triner-img{
    height: 100%;
}
.img-container {
    margin-bottom: 15px;
    transition: 0.2s ease-in-out;
    height: 500px;
}

.img-container:hover {
    filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
}

.name{
    font-size: 30px;
    padding: .6rem;
    border: 5px solid #F8D030;
    border-radius: 8px;
    box-shadow: 0 0 1px 1px rgb(0, 0, 0);
}

#log-out{
    position: absolute;
    right: 3%;
    top: 0%;
    margin-top: 53px;
    padding: 0.5rem 2rem;
    background-color: rgba(4, 4, 4);
    font-family: 'Pokemon X and Y';
    font-size: 17px;
    letter-spacing: 3px;
    color: #F8D030;
    border: 4px solid #F8D030;
    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);
    text-shadow: 0px 0px 4px rgb(3, 3, 3);
    border-radius: 6px;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
}

#log-out:hover{
    transition: 0.10s ease-in-out;
    transform: scale(1.03);
    background-color: #fae20f71;
}

.stat-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
}

.stat-container div{
    display: flex;
    justify-content: space-between;
    width: 250px;
    

}

.stat-container span{
    font-size: 20px;
    text-transform: capitalize;
    border: 5px solid #F8D030;
    width: 150px;
    text-align: center;
    padding: .5rem;
    
}

.win-rate > span{
    font-size: 26px;
    font-weight: bold;
}

footer{
    margin-bottom: 1rem;
}

.lvl{
    background-color: rgba(255, 0, 0, 0.363);
    display: flex;
    flex-direction: column;
    border-radius: 30%;
    padding: 2rem;
    border: 20px solid #F8D030;
    border-radius: 1.5rem;
    margin-top: 3rem;
    box-shadow: 0 0 0px 5px #ffe608;
    
}

#level{
    font-size: 30px;
}

.back-button-container {
    max-width: 50px;
    position: absolute;
    top: 45px;
    left: 100px;
}

.battle {
    border: 1px solid;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.atribute {
    cursor: pointer;
}

.back-button-container img {
    max-width: 50px;
    filter: drop-shadow(0 0px 2px yellow);
    cursor: pointer;
}


.back-button-container img:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in;
}