@font-face {
    font-family: 'Pokemon X and Y';
    src: url('../fonts/Pokemon X and Y.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    background-image: url('../images/index-page/zapdos.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    backdrop-filter: blur(8px);
}

.form-container{
    background-color: rgba(37, 37, 31, 0.658);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 30%;
    min-width: 400px;
    border: 4px solid rgb(255, 242, 0);
    box-shadow: 0px 0px 0px 5px rgb(4, 8, 39);
    border-radius: 8px;
    padding: 1rem;
    transition: 0.3s ease-in-out;
}

.welcome-container {
    text-align: left;
    padding-top: 50px;
}

.welcome-container p {
    background: rgba(4, 4, 4, 0.205);
    backdrop-filter: blur(8px);
    color: rgb(230, 230, 146);
    font-size: 35px;
    max-width: 810px;
    margin: 0 auto;
    padding: 15px;
    border: 4px solid rgb(255, 238, 2);
    box-shadow: 0px 0px 0px 5px rgb(4, 8, 39);
    text-shadow: 0px 0px 4px rgb(3, 3, 3);
    border-radius: 4px;
}

#sign-up {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: left;
    justify-content: center;
    gap: 10px;
    color: rgb(255, 255, 58);;
}

.form-container label {
    text-align: left;
    text-transform: capitalize;
    color: rgb(230, 230, 146);
    font-size: 17px;
    margin-top: 1rem;
}

.form-container input {
    cursor: text;
    width: 100%;
    padding: 4px;
    border: 3px solid rgb(255, 238, 2);
    box-shadow: 0px 0px 0px 3px rgb(4, 8, 39);
    background-color: rgb(237, 221, 134);
    font-family: 'Pokemon X and Y';
    letter-spacing: 1px;
}

.form-container input::placeholder {
    text-transform: capitalize;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.574);
    font-family: 'Pokemon X and Y';
    font-size: 1em;
    opacity: 1;
}



#sign-up-button {
    font-family: 'Pokemon X and Y';
    margin-top: 20px;
    background-color: rgb(237, 221, 134);
    width: 50%;
    border: 1px solid rgb(255, 238, 2);
    box-shadow: 0px 0px 0px 3px rgb(4, 8, 39);
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
    font-weight: bold;
    align-self: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#sign-up-button:hover {
    color: black;
    background-color: rgb(231, 233, 95);
    transform: scale(1.02);
}



#log-btn{
    position: absolute;
    right: 3%;
    top: 5%;
    padding: .5rem 2rem;
    backdrop-filter: blur(8px);
    background: rgba(4, 4, 4, 0.205);
    font-family: 'Pokemon X and Y';
    font-size: 17px;
    letter-spacing: 3px;
    color: rgb(230, 230, 146);
    border: 4px solid rgb(255, 238, 2);
    box-shadow: 0px 0px 0px 5px rgb(4, 8, 39);
    text-shadow: 0px 0px 4px rgb(3, 3, 3);
    border-radius: 4px;
    text-decoration: none;
    transition: 0.15s ease-in-out;
}

#log-btn:hover{
    background-color: rgba(240, 252, 77, 0.24);
    box-shadow: 0px 0px 0px 2px rgb(238, 255, 2);
    color: yellow;
    transform: scale(1.03);
    cursor: pointer;
}

h3{
    margin: 1rem auto;
    font-size: 20px;
    color: rgb(255, 255, 91);
    letter-spacing: 3px;
    text-shadow: 0px 0px 4px rgb(3, 3, 3);
}