.container {
  display: grid;
  grid-template-columns: 25% 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 100vh;
  background-color: rgb(51, 51, 63);
  gap: 1rem;
}

.skin-preview {
  background-color: rgb(0, 0, 0);
  border-right: 5px solid black;
  grid-column: 1/2;
  grid-row: 1/5;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-top: 6rem;
}
.img-container > img {
  object-fit: contain;
  width: 300px;
  height: 600px;
  border: 5px solid black;
  padding: 1rem;
  background-color: rgb(214, 214, 214);
  box-shadow: 0 0 0px 3px #f8d030;
  border-radius: 1rem;
}
.skin-list {
  margin: 1rem;
  overflow: auto;
  height: 600px;
  grid-column: 2/4;
  grid-row: 2/4;
  box-shadow: 0 0 1px 5px rgba(0, 0, 0, 0.401);
  border-radius: 1rem;
}

.skin-list > form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  padding: 1rem;
}

.select-skin-button {
  border-radius: 1rem;
}

.select-skin-button > img {
  object-fit: contain;
  width: 240px;
  height: 320px;
  cursor: pointer;
  border-radius: 1rem;
}

.select-skin-button > img:hover {
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 0px 3px rgb(255, 238, 2);
}

#text {
  background: rgba(4, 4, 4, 0.205);
  backdrop-filter: blur(8px);
  color: rgb(230, 230, 146);
  font-size: 35px;
  margin: 0 auto;
  padding: 15px;
  border: 4px solid rgb(255, 238, 2);
  box-shadow: 0px 0px 0px 5px rgb(4, 8, 39);
  text-shadow: 0px 0px 4px rgb(3, 3, 3);
  border-radius: 4px;
}

.welcome-container {
  grid-column: 2/4;
  grid-row: 1/2;
  padding: 1rem;
  width: 95%;
}

.buttons {
  grid-column: 3/4;
  grid-row: 4/5;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 2rem;
}

.btn {
  padding: 0.5rem 2rem;
  width: 230px;
  height: 4rem;
  backdrop-filter: blur(8px);
  background: rgba(4, 4, 4, 0.205);
  font-family: "Pokemon X and Y";
  font-size: 17px;
  letter-spacing: 3px;
  color: rgb(230, 230, 146);
  border: 4px solid rgb(255, 238, 2);
  box-shadow: 0px 0px 0px 5px rgb(4, 8, 39);
  text-shadow: 0px 0px 4px rgb(3, 3, 3);
  border-radius: 4px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: rgba(240, 252, 77, 0.24);
  box-shadow: 0px 0px 0px 2px rgb(238, 255, 2);
  color: yellow;
  transform: scale(1.03);
  transition: 0.08s ease-in-out;
  cursor: pointer;
}
#trainer-name {
  font-size: 34px;
  color: rgb(255, 238, 2);
  text-transform: capitalize;
  margin-top: 2rem;
  padding: 0.3rem;
  border-bottom: 3px solid rgb(255, 238, 2);
  border-top: 3px solid rgb(255, 238, 2);
  letter-spacing: 4px;
}
