/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url("http://www.rw-designer.com/cursor-extern.php?id=143023"), auto;
}

/* Custom fonts */
@font-face {
    font-family: 'Pokemon X and Y';
    src: url('../fonts/Pokemon X and Y.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Global body styles and background */
body {
    background-image: url('../images/zapdos.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    font-family: 'Pokemon X and Y';
    letter-spacing: 1px;
    
}

.welcome-container {
    text-align: left;
    padding-top: 50px;
}

.welcome-container p {
    background: rgba(4, 4, 4, 0.205);
    backdrop-filter: blur(8px);
    color: rgb(230, 230, 146);
    font-size: 35px;
    max-width: 810px;
    margin: 0 auto;
    padding: 15px;
    border: 4px solid rgb(255, 238, 2);
    box-shadow: 0px 0px 0px 5px rgb(4, 8, 39);
    text-shadow: 0px 0px 4px rgb(3, 3, 3);
    border-radius: 4px;
}

.start-text{
    color: rgb(230, 230, 146);
    text-align: center;
    font-size: 24px;
    text-shadow: 0px 0px 1000px black;
    animation: blink 2.5s ease-in-out infinite;

    /* Move start text without pushing other elements */
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 0;
}

/* Typing animation for welcome text */
@keyframes blink{
    0%  {opacity: 0;}
    50% {opacity: 1;}
    100%  {opacity: 0;}
}

/* Fullscreen action button */
#click-action{
    width: 100%;
    height: 650px;
    opacity: 0;   
}


/* Footer style*/
.footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: rgba(230, 230, 146, 0.496);
}