<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Mi Sitio{%endblock%}</title>
    {%block styles%}{%endblock%}
</head>

<body>
    <header>{%block header%}{%endblock%}</header>
    <main>{%block content%} {%endblock%}</main>

    <button id="muteBtn">🔇</button>
    <audio id="backgroundMusic" autoplay loop></audio>

    <footer class="footer-container">
        <p>
            &copy; {{current_year}} PokeCode. All rights reserved by Izan Álvarez and Axel
            Cartaya
        </p>
    </footer>

    <script>
        const musicSrc = "{{ music }}";
    </script>
    <script src="{{ url_for('static', filename='js/music.js') }}"></script>
</body>

</html>