{%extends "base.html"%} {%block title%}PokeCode{%endblock%} {%block
styles%}<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/index.css')}}"
/>{%endblock%} {%block content%}

<header>
  <div class="header-container">
    <div class="welcome-container">
      <p id="text"></p>
    </div>
  </div>
</header>
<main>
  <div class="form-container">
    <form action="/trainer" method="POST">
      <div class="trainer-container">
        <label for="trainer">TRAINER NAME</label>
        <input
          type="text"
          name="trainer"
          id="trainer"
          placeholder="Introduce your nickname"
        />
      </div>
      <p class="error">{{error}}</p>
      <p class="start-text">Click to start</p>
      <input type="submit" id="click-action" value="Start" />
    </form>
  </div>
</main>

{%endblock%}
