<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/css/style.css') }}"
    />
    <title>PokeCode</title>
  </head>

  <body>
    <header>
      <div class="header-container">
        <h1 class="title">POKECODE</h1>
        <div class="welcome-message">
          <p>
            Welcome to <b>PokeCode</b>! We hope you enjoy battling your favorite
            Pokémon one-on-one.
          </p>
        </div>
      </div>
    </header>
    <main>
      <div class="main-container">
        <div class="button-start">
          <a href="#">Press ENTER to start</a>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer-container">
        <p>
          &copy; 2025 PokeCode. All rights reserved by Izan Álvarez and Axel
          Cartaya
        </p>
      </div>
    </footer>
  </body>
</html>
