{%extends "base.html"%}
{%block title%}PokeCode{%endblock%}
{%block styles%}<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}" />{%endblock%}
{%block content%}


    <header>
        <div class="header-container">     
            <div class="welcome-container">
                <p id="text"></p>
            </div>
            <script>
                const mensaje = "Welcome to PokeCode! We hope you enjoy battling your favorite Pokémon one-on-one. Get ready to fight, now!";
                let index = 0;
                const velocity = 30; // milliseconds between each letter

                function write() {
                    if (index < mensaje.length) {
                        document.getElementById("text").innerHTML += mensaje[index];
                        index++;
                        setTimeout(write, velocity);
                    }
                }
                write();
            </script>
        </div>
    </header>
   
        <p class="start-text">Click to start</p>    
        <form action="/pokedex" method="get">
            <input type="submit" id="click-action" value="Start">
        </form>

    <script></script>
{%endblock%}