{% extends "base.html" %}
{% block title%}Pokedex{%endblock%}
{%block styles%}
<link rel="stylesheet" href="{{url_for('static', filename='css/pokedex.css')}}" />
{%endblock%}
{%block header%}
<div class="header-container">
  <a href="{{url_for('home.index')}}">
    <img src="{{url_for('static', filename='images/index-page/logo1.png')}}" alt="Logo de PokeCode" />
  </a>
</div>
{%endblock%}
{%block content%}
<div class="flex">
  <p class="trainer">Trainer: {{session.trainer}}</p>
  <form action="{{url_for('pokemon.pokemon_selected')}}" method="post">

    <input type="text" name="search" id="search" placeholder="Pick your Pokémon">
    <button type="submit" class="enter-button">Start</button>  
  </form>
</div>
{% if session.mensaje_error is not none %}
  <p id="error">{{session.mensaje_error}}</p>
{% endif %} 
<div class="card_container">
  {% for pokemon in pokemon_list %}
  <a href="{{url_for('pokemon.pokemon_details', pokemon_id=pokemon.id)}}">
    <div class="pokemon_container">
      <div class="img_container">
        <img src="{{pokemon.sprites.front_default}}" />
      </div>
      <div class="id_name_container">
        <p class="id">#{{pokemon.id}}</p>
        <p class="name">{{pokemon.name}}</p>
      </div>
      <div class="types">
        {% for tipo in pokemon.types%}
        <p class="type {{ tipo }}">{{tipo}}</p>
        {%endfor%}
      </div>
    </div>
  </a>
  {% endfor %}
</div>

{%endblock%}