{% extends "base.html" %} {% block title%}Profile:
{{session.trainer.name}}{%endblock%} {%block styles%}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/profile.css')}}"
/>
{%endblock%} {%block header%}

<div class="back-button-container">
  <a href="{{url_for('pokemon.pokedex')}}">
    <img
      src="{{url_for('static', filename='images/pokemon_details-page/flecha.png')}}"
      alt=""
    />
  </a>
</div>

{%endblock%} {%block content%}
<a href="{{url_for('home.log_out')}}" id="log-out">LOG OUT</a>
<div class="high-container">
  <div class="container">
    <div class="img-container">
      <img
        id="triner-img"
        src="{{url_for('static', filename='images/profile-page/trainers/' + session.trainer.skin + '.png')}}"
        alt="trainer"
      />
    </div>
    <p class="name">Trainer: {{session.trainer.name.capitalize() }}</p>
  </div>

  <div class="container">
    <h1>STATS</h1>
    <div class="stat-container">
      <div class="victorys">
        <span>Victorys:</span>
        <span>{{session.trainer.wins}}</span>
      </div>
      <div class="loses">
        <span>Loses:</span>
        <span>{{session.trainer.loses}}</span>
      </div>
      <div class="games">
        <span>Games:</span>
        <span>{{session.trainer.wins+session.trainer.loses}}</span>
      </div>
      <div class="win-rate">
        <span>Win rate:</span>
        <span
          >{% if session.trainer.wins+session.trainer.loses == 0 %} 0% {% else
          %} {{ '%.2f' % (session.trainer.wins * 100 / (session.trainer.wins +
          session.trainer.loses)) }}% {% endif %}
        </span>
      </div>
    </div>
    <div class="lvl">
      <span id="exp">EXP: {{ session.trainer.exp % 400 }}/400</span>
      <span id="level"
        >LVL: {{(session.trainer.exp/400) | round(0, method='floor') |
        int}}</span
      >
    </div>
  </div>

  <div class="container">
    <h1>History of Battles</h1>
      {%for battle in battles%}
        <div class="battle">
          <span class="atribute">ID: {{battle.id}} | </span>
          <span class="atribute">Winner: {{battle.winner}} | </span>
          <span class="atribute">Loser: {{battle.loser}} | </span>
        </div>
      {%endfor%}
      
  </div>
</div>
  {%endblock%}

