{% extends "base.html" %} {% block title%}Skin Selection{%endblock%} {%block
styles%}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/skin_selection.css')}}"
/>
{%endblock%} {% block content %}

<div class="container">
  <div class="welcome-container">
    <p
      id="text"
      data-text="Choose the look of your Pokémon Trainer and pick the style that best fits your adventure."
    ></p>
  </div>
  <div class="skin-preview">
    <div class="img-container">
      {% if selected_skin %}
      <img
        src="{{ url_for('static', filename='images/profile-page/trainers/' + selected_skin + '.png') }}"
        alt="Skin Preview"
      />
      {% else %}
      <img
        src="{{ url_for('static', filename='images/profile-page/trainers/trainer5.png') }}"
        alt="Default Skin Preview"
      />
      {% endif %}
      <p id="trainer-name">{{session.get("trainer_name")}}</p>
    </div>
  </div>
  <div class="skin-list">
    <form action="{{ url_for('home.trainer_skin') }}" method="get">
      {% for i in range(1,11) %}
      <button
        class="select-skin-button"
        type="submit"
        name="skin"
        value="{{ 'trainer' + i|string }}"
      >
        <img
          src="{{ url_for('static', filename='images/profile-page/trainers/' + 'trainer' + i|string + '.png') }}"
          alt="Skin {{ loop.index }}"
        />
      </button>
      {% endfor %}
    </form>
  </div>
  <form
    class="buttons"
    method="post"
    action="{{ url_for('home.trainer_skin')}}"
  >
    <button class="btn" name="action" value="go_back" type="submit">
      Go Back
    </button>

    <button class="btn" name="action" value="save_and_sign_up" type="submit">
      Save and Sign Up
    </button>
  </form>
</div>
{%endblock%}
